<ion-content padding>
  <div id="container">
    <div class="text-center mx-auto"  text-center>
      <h2 class="text-center mx-auto" style="color: white;">DEVICE STATUS</h2>
    </div>

    <div>
      <ion-icon id="network-status" class="invi" name="wifi-outline"></ion-icon>
    </div>
  
    <div>
      <br />
      <div class="jumbotron text-center mx-auto" text-center>
        <p class="texto">
          <span>Aqui hacemos un diagnostico del estado de la cámara del dispositivo</span>
        </p>
        <h3 class="display-4">Camera!</h3>
      
        <p class="texto">
          Veamos si tu camara ya esta disponible para esta aplicación : {{camRq}}
        </p>
        <button (click)="camaraR()" class="btn btn-primary btn-xs">
          Camara Request
        </button>
        <p class="texto">¿Deseas saber si tu dispositivo posee cámara?</p>
                <p class="texto">tienes cámara: {{camPre}}</p>

        <button (click)="camaraPreset()" class="btn btn-primary btn-xs">
          Camara Present
        </button>
        <p class="texto">Veamos si tu cámara esta autorizada</p>
        <button (click)="camaraAuth()" class="btn btn-primary btn-xs">
          Camara Authorized
        </button>
        <p class="texto">Camara authorization: {{authorization}}</p>
        <a text-center id="fotografia"
          class="btn btn-primary btn-xs noSteal mx-auto"
          (click)="foto()"
          role="button"
        >
          toma una foto
        </a>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <div class="alert alert-danger noShow" id="bt" role="alert">
    <h4 class="alert-heading">Aviso!</h4>
    <p>
      Tu bateria esta baja algunas funcionalides de esta aplicación no estan
      disponible si la bateria no es superior al 65%
    </p>
  </div>

</ion-footer>
