ion-content{
  --background: darkslategray;
}



.jumbotron{
  background: darkslategray;
  color: white;
}

button{
  width: 10rem;
  margin: .2rem;
}
.texto{
  color: moccasin;
}
.noShow{
  display: none !important;
 }

.show{
  display: block !important;
}

.steal{
  display: none;
}

.noSteal{
  display: block;
    background: white;
    color: darkgreen;
    font-weight: 600;
    border-radius: 15px;
    width: 15em;
    box-shadow: 0px 0px 12px wheat;
}

.invi{
  display: none;
}


ion-footer{
  background: darkslategray;
}

.wifiOn{
  display: block;
  width: 3rem;
    height: 3rem;
    color: lightgreen;
    position: absolute;
    right: 0;
    margin-right: 1rem;
    margin-top: -2.5rem;
}


.wifiOff{
  display: block;
  width: 3rem;
    height: 3rem;
    color: red;
    position: absolute;
    right: 0;
    margin-right: 1rem;
    margin-top: -2.5rem;
}